:root {
    --color1 : black;
    --colortransparent : rgba(0, 0, 0, 0) ;
    --colorbackgroundday : rgb(234, 234, 234);
    --colortextday : navy;
    --colortextday1 : rgb(52, 52, 52) ;
    --colornavbutton : rgb(2, 2, 72);
    --colornavbuttonhover : rgba(0, 33, 71, 0.721);
}
* {
    /* border-width: 0.10px;
    border-color: red;
    border-style: solid; */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    color: black;
    font-family: 'Roboto', sans-serif;
}
h3 {font-size: 1.5em;}
h4 {font-size: 1.3em;}
h5 {font-size: 1.2em;}
p {font-size: 1.1em;}
/* nav header */
.first-logo {
    width: 7em;
    height:fit-content ;
    margin-left: 2vw;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    align-items: center;
    background-color: var(--colorbackgroundday);
}
div > .nav-center {
    display: flex;
}
nav > .dropdown {
    padding-left: 1vw;
    padding-right: 1vw;
}
div.dropdown {
    display: flex;
    padding: 0 1.5vw 0 1.5vw;
}
.dropdown-content {
    position: absolute;
    border-radius: 1vw;
    margin-top: 3vw;
    background-color: rgba(91, 94, 94, 0.381);
    padding: 1.3vw;
    z-index: 1;
    
}
.dropdown-content > a {
    color: white;
    border-radius: 1vw;
    background-color: var(--colornavbutton);
    margin-top: 0.1vw;
    padding: 0.5vw;
    text-decoration: none;
    transition: background-color 0.3s
}
.dropdown-content > a:hover {
    background-color: var(--colornavbuttonhover);
}
.dropdown-div {
    align-content: end;
}
.arrow-down {
    width: 1vw;
    height: 1vw;
    padding-left: 0.5vw;
}
.dropbtn{
    font-size: 1.2em;
    text-align: center;
    align-content: center;
    color: var(--colortextday);
}
div > a {
    display: flex;
    flex-direction: column;
}
.right-nav {
    margin-right: 2vw;
}
.right-nav-button {
    width: 12vw;
    height: 6vw;
    border-radius: 3vw;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    color: white;
    font-size: 1em;
    border: none;
    display: flex;
    align-items: center;
}
.right-nav-button > div {
    color: rgb(255, 255, 255);
    width: 75%;
    margin-left: 3%;
    font-size:1.3em;
    background-color: transparent;
}
.enter-button1 {
    width: 15%;
    background-color: transparent;
}
/* header container */
.second-header {
    text-align: center;
    align-content: center;
    width: auto;
    height: 62vw;
    position: relative;
    background-color: var(--colorbackgroundday);
}
.second-header > h1 {
    font-size: 5em;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.second-header > p {
    font-size: 2.5em;
    color: var(--colortextday);
}
.headerbtn-par {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
}
.headerbtn-child {
    width: 20vw;
    height: 8vw;
    border-radius: 180px;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    color: white;
    border-width: 0;
    font-size: 2.2vw;
    display: flex;
    align-items: center;
}
.headerbtn-child > div {
    width: 75%;
    background-color: transparent;
}
.enter-button2 {
    background-color: transparent;
}
/* main container */
.main-container {
    position: relative;
    /* background-color: black; */
    color: rgb(43, 43, 43);
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
}
.grid-container {
    display: grid;
    grid-template-areas: 
    'content1 content2 content3'
    'content1 content2 content3'
    'content1 content4 content3'
    'content1 content4 content3';
    background-color: var(--colortransparent);
    gap: 2vw;
    padding: 3vw 2vw 3vw 2vw;
    height: 70vw;
}
.grid-content {
    border-radius: 2vw;
    display: grid;
    background-color: rgba(255, 255, 255, 0.393);
}
.content1-container {
    grid-area: content1;
    position: relative;
    height: 60vw;
    margin-bottom: 0;
}
.content1 {
    position: relative;
    /* height: 40vw;
    width: 27vw; */
    height: 60vw;
    width: 30vw;
    padding: 2vw;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
}
.content1::-webkit-scrollbar {
    width: 2vw;
}
.content1::-webkit-scrollbar-track {
    border-radius: 5vw;
    background-color: #ffffff00;
}
.content1::-webkit-scrollbar-track:hover {
    background-color: #ffffff00;
}
.content1::-webkit-scrollbar-track:active {
    background-color: #d2d2d200;
}
.content1::-webkit-scrollbar-thumb {
    border-radius: 5vw;
    background-color: #ffffff62;
}
.content1::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff62;
}
.content1::-webkit-scrollbar-thumb:active {
    background-color: #ffffff84;
}
ol {
    text-align: justify;
}
.carousel-button {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cb-both {
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 1vw;
    border-style: none;
    color: wheat;
}
.cb-left {
    width: 3vw;
    height: 5vw;
}
.cb-right {
    width: 3vw;
    height: 5vw;
}
.content2 {
    grid-area: content2;
    height: 45vw;
    width: 30vw;
    background-image: url(./assets/pictures/tech1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: background-content2;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    border-radius: 2vw;
}
@keyframes background-content2 {
    0% {background-image: url(./assets/pictures/tech1.jpg);}
    20% {background-image: url(./assets/pictures/tech1.jpg);}
    25% {background-image: url(./assets/pictures/tech2.jpg);}
    45% {background-image: url(./assets/pictures/tech2.jpg);}
    50% {background-image: url(./assets/pictures/tech3.jpg);}
    70% {background-image: url(./assets/pictures/tech3.jpg);}
    75% {background-image: url(./assets/pictures/tech4.jpg);}
    95% {background-image: url(./assets/pictures/tech4.jpg);}
    100% {background-image: url(./assets/pictures/tech1.jpg);}
}
.content3 {
    grid-area: content3;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
.content3 > h3 {
    margin-top: 2vw;
    margin-left: 2vw;
}
.content3::-webkit-scrollbar {width: 2vw;}
.content3::-webkit-scrollbar-track {
    border-radius: 5vw;
    background-color: #ffffff00;
}
.content3::-webkit-scrollbar-track:hover {background-color: #ffffff00;}
.content3::-webkit-scrollbar-track:active {background-color: #d2d2d200;}
.content3::-webkit-scrollbar-thumb {
    border-radius: 5vw;
    background-color: #ffffff62;
}
.content3::-webkit-scrollbar-thumb:hover {background-color: #ffffff62;}
.content3::-webkit-scrollbar-thumb:active {background-color: #ffffff84;}
.news-items {
    padding: 1vw 1vw 1vw 1vw;
    border-bottom: 0.1vw solid var(--colortextday1);
}
.news-pics {
    width: 90%;
    display: block;
    margin: 1vw auto;
}
.news-items > p {
    text-align: justify;
}
.timestamp {
    color: var(--colortextday1);
    font-size: 1em;
}
.content4 {
    grid-area: content4;
    height: 100%;
}
/* footer-container */
.footer-lists {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.footer-inner {
    display: flex;
    flex-direction: column;
    width: 25%;
    float: left;
}
@media only screen and (max-width: 1024px){
}
@media only screen and (max-width: 768px){
* {
    background-color: black;
}
}
@media only screen and (max-width: 425px){
* {
    background-color: red;
}    
}
@media only screen and (max-width: 375px){
* {
    background-color: gray;
}
}